@import url('./normalize.css');

html{
    font-size: 10px;
}
body{
    font-family: 'Montserrat', 'Open Sans';
    background: #52616B;
    height: 348.3rem;
}
li{
    list-style: none;
}
.header_style{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bg_fon{
    height: 64.7rem;
    background-image: url('../img/png/i4\ 1.png');
    background-repeat: no-repeat;
    background-size: 170.0rem;
    background-position: center;
}
.box1{
    width: 3%;
    padding-left: 10.1rem;
    padding-top: 1.7rem;
}
.icon_style{
    width: 100%;
}
.icon_style:hover{
    transform: scale(1.1);
    opacity: 0.40;
    transition: 1s;
}
.navigation_style{
    width: 73%;
}
.style_lists1{
    display: flex;
    width: 60%;
}
.style_list2{
    width: 100%;
    padding-top: 3.0rem;
    white-space: nowrap;
    margin-right: 3.0rem;
    margin-left: 4.0rem;
}
.style_list2:nth-child(4){
    margin-right: 21.1rem;
}
.style_list2:nth-child(5){
    margin-right:1.0rem ;
}
.style_links3{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 2.0rem;
    color: #C9D6DF;
    text-decoration: none;
}
.style_links3:hover{
    opacity: 0.85;
    color: aqua;
    transition: 500ms;
}
.line-through{
    width: 100%;
}
.line-through-style{
    background-image: url('../img/png/Vector\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    height: 1rem;
    padding-top: 2.9rem;
}
.box2{
    padding-top: 12.9rem;
}
.box3{
    width: 80%;
}
.img_car1{
    height: 55.0rem;
    background-image: url('../img/png/the\ 8\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130.0rem;
}
.img_car1:hover{
    cursor: zoom-in;
    opacity: 0.40;
    transition: 1s;
    transform: scale(1.1);
}
.style-text{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 3.4rem;
    color: #C9D6DF;
}
.text1{
    text-align: left;
    padding-left: 8.8rem;
    padding-top: 1.9rem;
    line-height: 4.1rem;
}
.box4{
    width: 40%;
    display: inline-block;
}
.img_car2{
    height: 39.1rem;
    background-image: url('../img/png/the\ x7\ 2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.img_car2:hover{
    cursor: zoom-in;
    opacity: 0.40;
    transition: 1s;
    transform: scale(1.1);
}
.text2{
    text-align: left;
    padding-top: 0.8rem;
    padding-left: 2.6rem;
    line-height: 4.1rem;
}
.img_car3{
    height: 39.1rem;
    background-image: url('../img/png/the\ 5\ 1.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.img_car3:hover{
    cursor: zoom-in;
    opacity: 0.40;
    transition: 1s;
    transform: scale(1.1);
}
.text3{
    padding-top: 0.8rem;
    line-height: 4.1rem;
}
.bg_fon2{
    height: 64.8rem;
    background-image: url('../img/png/bmw\ of\ dream\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170.0rem;
    margin-top: 9.7rem;
}
.text4{
    font-size: 4.5rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2.1rem;
}
.box5{
    font-family: 'Open Sans';
    font-size: 2.4rem;
    font-weight: 600;
    color:#C9D6DF;
    margin-top: 50.5rem;
}
.link-style{
    max-width: 18.1rem;
    width: 50%;
    text-decoration: none;
    color:#C9D6DF;
    border-radius: 0.8rem;
    background: #1E2022;
    padding: 1.8rem 7.3rem;
}
.link-style:hover{
    color: aqua;
    transition: 1s;
}
.bg_fon3{
    height: 70.9rem;
    background-image: url('../img/png/bmw-my-bmw-app-lp-cp-xxl\ 1@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170.0rem;
    margin-top: 9.7rem;
}
.header_style2{
    display: flex;
    align-items: center;
}
.box6{
    display: inline-block;
    width: 5%;
    margin-right: 2.6rem;
    margin-left: 2.4rem;
}
.icon_style2{
    width: 100%;
}
.icon_style2:hover{
    opacity: 0.40;
    transition: 1s;
    transform: scale(1.1);
}
.text5{
    font-family: 'Montserrat';
    font-size: 3.4rem;
    line-height: 4.1rem;
    font-weight: 600;
    color: #C9D6DF;
    white-space: nowrap;
}
.bg_fon4{
    background: #1E2022;
    height: 37.8rem;
    margin-top: -1.0rem;
    font-family: 'Open Sans';
}
/*navigation_style2*/
.style_lists2{
    text-align: left;
    padding-left: 9.0rem;
    padding-top: 5.2rem;
}
.style_list3{
    display: inline-block;
    margin-right: 9.0rem;
    margin-left: 9.0rem;
}
.style_links4{
    text-decoration: none;
    font-weight: 400;
    font-size: 2.0rem;
    color: #F0F5F9;
    width: 5.4rem;
}
/*navigation_style2*/
/*navigation_style3*/
.style_lists3{
    text-align: left;
    padding-top: 2.0rem;
    padding-left: 9.0rem;
}
.style_list4{
    display: inline-block;
    margin-right: 19.0rem;
    margin-left: 9.0rem;
}
.style_list4:nth-child(1){
    margin-right: 18.0rem;
}
.style_list4:nth-child(2){
    margin-right: 9.0rem;
}
.style_links5{
    text-decoration: none;
    font-size: 1.6rem;
    color:#C9D6DF;
}
.navigation_style3{
    display: flex;
}
.box7{
    display: flex;
    margin-left: 8.5rem;
}
.link_img{
    margin-right: 1.4rem;
    max-width: 2.5rem;
    padding-top: 1.2rem;
}
/*navigation_style3*/
/*navigation_style4*/
.navigation_style4 ul li:nth-child(1){
    margin-right: 15.9rem;
}
.navigation_style4 ul li:nth-child(2){
    margin-right: 6.1rem;
}
/*navigation_style4*/
/*navigation_style5*/
.navigation_style5 ul li:nth-child(1){
    margin-right: 11.3rem;
}
.navigation_style5 ul li:nth-child(2){
    margin-right: 4.7rem;
}
/*navigation_style5*/
/*navigation_style6*/